
<img class="post-image" src="https://2ell.b-cdn.net/31.png">

<h2>A Title</h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dictum, nisl at sollicitudin ullamcorper, lorem ex fermentum purus, eu cursus purus purus sit amet nisl. Nullam placerat pulvinar turpis ac tristique. Sed eu arcu quis est lacinia ornare. Curabitur venenatis dolor et enim sollicitudin aliquet. Vestibulum mattis nunc id consequat vehicula. Praesent quis cursus augue. Duis finibus risus ac magna gravida, vitae sodales odio lobortis. Maecenas sem neque, mollis et mauris sit amet, porttitor vestibulum orci. Nullam eros urna, tempor a velit tempus, aliquet lobortis dolor. Vivamus non dapibus tellus. Quisque facilisis tellus eu faucibus dictum. Sed mattis pellentesque nisl eu tincidunt. Vivamus quam eros, efficitur nec mauris eget, congue vestibulum arcu. Pellentesque nec quam eget mi semper ultrices. Curabitur condimentum sodales maximus.</p>
<p> Donec non blandit felis, id malesuada turpis. Duis eget dapibus dui, a bibendum eros. Sed at magna sit amet magna lobortis sagittis. Phasellus elementum nunc mi. Morbi porta commodo lobortis. Quisque ultricies enim vel augue vulputate congue. Nulla bibendum, nisl vel dapibus dignissim, ex libero accumsan nisi, quis ultrices turpis ante eget nisi. Cras eget felis est. Proin massa metus, blandit at justo vel, tristique cursus dui. Nulla porta dignissim justo eget tincidunt. Quisque massa nulla, facilisis eu leo nec, laoreet pretium massa. Phasellus ac erat vitae libero lacinia gravida ac vel mi. Curabitur eu venenatis nisi, ut scelerisque quam. Pellentesque pulvinar neque nisi, ac rutrum dolor mattis sit amet. </p>

<header>
    <div class="head-div">
        <div class="head-img">
    <img class="head-img" src="https://2ell.b-cdn.net/laureldark300.png">
</div>
<div class="title">
	<h1 class="weblog-title">laurel</h1>
        <p>Literary Artist. Dreamer. YIMBY.</p>
    </div>
</div>
<div class="div-1">
    <h1 style="text-align: right;">connect with me elsewhere</h1>
    <ul class="connect">
        <li>Mastodon</li>
        <li>Discord</li>
        <li>Pixey</li>
        <li>last.fm</li>
        <li>Bookwyrm</li>
    </ul>
</div>
</header>